/* 
* make the menu scroll left and right 
* If content overflows the container
*/
.menuWrap {
  position: absolute;
  overflow-x: hidden;
  overflow-y: auto;
  top: 0;
  width: 100%;
}
 

a {
  text-decoration: none;
  color: #4f7794;
}

/* 
* allow menu items to alter their dimensions  
* to fill available space
*/
.menu {
  display: grid;
  width: 100%;
  justify-items: center;
  align-items: center;
  list-style: none;
}

/* 
* styles for individual menu items
*/
.menu-item {
  display: grid;
  grid-auto-flow: column;
  /* spacing styles */
  width: 95%;
  height: 2em;
  padding: .5em;
  width: 80%;
  margin-right: 6em;
  align-items: center;
  justify-items: center;
  
  /* additional styles */
  border: 1px solid lightgray;
  border-radius: .5em;
  text-overflow: ellipsis;
}

.menu-item:hover, 
.menu-item:focus {
  background: #f3f3f3;
}

button {
  background-color: black;
  color: white;
  padding: 1em;
  padding-left: 2em;
  padding-right: 2em;
  font-weight: bold;
  border-radius: .5em;
  border: none;
}
